
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	//
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	//
				
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	//

	/*Disable Animation on Mobile Devices*/
	.animated
		/*CSS transitions*/
		-o-transition-property: none !important
		-moz-transition-property: none !important
		-ms-transition-property: none !important
		-webkit-transition-property: none !important
		transition-property: none !important
		/*CSS transforms*/
		-o-transform: none !important
		-moz-transform: none !important
		-ms-transform: none !important
		-webkit-transform: none !important
		transform: none !important
		/*CSS animations*/
		-webkit-animation: none !important
		-moz-animation: none !important
		-o-animation: none !important
		-ms-animation: none !important
		animation: none !important


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	.companies_info 
		.company_by_location, 
		.list_of_companies, 
		.news, 
		.total_companies,
		.company_partners
			font-size: 13px!important
	 
		.company_partners_wrap 
			margin: 0
			h2
				font-size: 12px 
			.country_chart,
				font-size: 12px
			.sort
				font-size: 12px
				
		
		.news .news_slider .one_news
			margin: 3px
			
		.slick-dotted.slick-slider
			margin-bottom: 15px!important

		.company_by_location
			.back_arrow
				font-size: 25px!important

		.one_news_leftSide
			font-size: 11px!important

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

